USE [FlexiTask]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 03-02-26 11:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityChange]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityChange](
	[EntityChangeID] [int] IDENTITY(1,1) NOT NULL,
	[Entity] [varchar](50) NOT NULL,
	[EntityField] [varchar](50) NOT NULL,
	[FieldType] [varchar](50) NOT NULL,
	[OldValue] [varchar](50) NULL,
	[NewValue] [varchar](50) NULL,
	[ChangedAt] [datetimeoffset](7) NOT NULL,
	[ChangedBy] [nvarchar](450) NOT NULL,
	[EntityKey] [varchar](max) NULL,
 CONSTRAINT [PK_EntityChange] PRIMARY KEY CLUSTERED 
(
	[EntityChangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JsonSchemaTemplate]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JsonSchemaTemplate](
	[JsonSchemaTemplateID] [int] IDENTITY(1,1) NOT NULL,
	[Label] [varchar](50) NOT NULL,
	[JsonSchema] [nvarchar](max) NOT NULL,
	[Version] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_JsonSchemaTemplate] PRIMARY KEY CLUSTERED 
(
	[JsonSchemaTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoadingTask]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoadingTask](
	[TaskHeaderID] [int] NOT NULL,
	[TaskItemsID] [int] NOT NULL,
	[Product] [varchar](50) NOT NULL,
	[Qty] [float] NOT NULL,
	[Support] [varchar](50) NULL,
	[AreaForLoading] [int] NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [varchar](50) NULL,
 CONSTRAINT [PK_LoadingTask] PRIMARY KEY CLUSTERED 
(
	[TaskHeaderID] ASC,
	[TaskItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [varchar](10) NOT NULL,
	[Label] [varchar](20) NOT NULL,
	[WorkAreaId] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lot]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lot](
	[LocationID] [varchar](10) NOT NULL,
	[StorageID] [varchar](10) NOT NULL,
	[LotID] [varchar](10) NOT NULL,
	[Blocked] [bit] NOT NULL,
	[PositionStorage] [int] NULL,
	[ProductID] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Lot] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC,
	[StorageID] ASC,
	[LotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plant]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plant](
	[PlantID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[Code] [nvarchar](4) NOT NULL,
	[CommonName] [nvarchar](50) NULL,
	[LanguageEnum] [nvarchar](50) NOT NULL,
	[Active] [bit] NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Plant] PRIMARY KEY CLUSTERED 
(
	[PlantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantIDentity]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantIDentity](
	[PlantID] [int] NOT NULL,
	[Id_AspnetIdentity] [nvarchar](450) NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_PlantIDentity] PRIMARY KEY CLUSTERED 
(
	[PlantID] ASC,
	[Id_AspnetIdentity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[LocationID] [varchar](10) NOT NULL,
	[StorageID] [varchar](10) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[LengthInMillimeters] [float] NOT NULL,
	[Empty] [bit] NOT NULL,
	[Id] [nvarchar](max) NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Storage] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC,
	[StorageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskData]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskData](
	[TaskDataID] [int] IDENTITY(1,1) NOT NULL,
	[JsonData] [varchar](max) NOT NULL,
	[ExternalLink] [varchar](50) NULL,
	[JsonSchemaTemplateId] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaskData] PRIMARY KEY CLUSTERED 
(
	[TaskDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskHeader]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskHeader](
	[TaskHeaderID] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaskHeader] PRIMARY KEY CLUSTERED 
(
	[TaskHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskItemDependency]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskItemDependency](
	[TaskHeaderID] [int] NOT NULL,
	[TaskItemsID] [int] NOT NULL,
	[TaskHeaderID_DependOn] [int] NOT NULL,
	[TaskItemsID_DependOn] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TaskItemDependency] PRIMARY KEY CLUSTERED 
(
	[TaskHeaderID_DependOn] ASC,
	[TaskItemsID_DependOn] ASC,
	[TaskHeaderID] ASC,
	[TaskItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskItems]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskItems](
	[TaskHeaderID] [int] NOT NULL,
	[TaskItemsID] [int] IDENTITY(1,1) NOT NULL,
	[StartingTask] [bit] NOT NULL,
	[EndingTask] [bit] NOT NULL,
	[LinkedWorkArea] [int] NULL,
	[TaskDataId] [int] NULL,
	[TaskItemTypeId] [varchar](4) NULL,
	[TaskStatus] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaskItems] PRIMARY KEY CLUSTERED 
(
	[TaskHeaderID] ASC,
	[TaskItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskItemType]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskItemType](
	[TaskItemType_ID] [varchar](4) NOT NULL,
	[InstructionDescription] [varchar](20) NOT NULL,
	[JsonSchemaTemplateID] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaskItemType] PRIMARY KEY CLUSTERED 
(
	[TaskItemType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransportTask]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportTask](
	[TaskHeaderID] [int] NOT NULL,
	[TaskItemsID] [int] NOT NULL,
	[Support] [varchar](20) NULL,
	[DestinationAreaId] [int] NOT NULL,
	[SourceAreaId] [int] NOT NULL,
	[Created] [datetimeoffset](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TransportTask] PRIMARY KEY CLUSTERED 
(
	[TaskHeaderID] ASC,
	[TaskItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkArea]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkArea](
	[WorkAreaID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[CommonName] [nvarchar](50) NOT NULL,
	[PlantId] [int] NOT NULL,
	[WorkAreaTypeId] [int] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_WorkArea] PRIMARY KEY CLUSTERED 
(
	[WorkAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkAreaType]    Script Date: 03-02-26 11:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkAreaType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Label] [nvarchar](max) NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetimeoffset](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorkAreaType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'e18aaac3-494c-46ea-acf5-b115a02ddead', N'Users', N'USERS', N'a7e2b615-23d0-405c-8f66-1018d24912c7')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'e805d68a-28b2-48d5-bd5b-495a1cfe9f95', N'Administrator', N'ADMINISTRATOR', N'7e3466b4-2749-4b86-990e-559715c06d93')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'964ff4c8-2abe-4cf0-a931-d2c56c6e18c2', N'e18aaac3-494c-46ea-acf5-b115a02ddead')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e0ec8f75-c420-45a6-b167-d0db6acd0081', N'e805d68a-28b2-48d5-bd5b-495a1cfe9f95')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', N'e805d68a-28b2-48d5-bd5b-495a1cfe9f95')
GO
SET IDENTITY_INSERT [dbo].[EntityChange] ON 

INSERT [dbo].[EntityChange] ([EntityChangeID], [Entity], [EntityField], [FieldType], [OldValue], [NewValue], [ChangedAt], [ChangedBy], [EntityKey]) VALUES (103, N'TaskItem', N'TaskItemStatus', N'TaskItemStatus', N'Ready', N'Completed', CAST(N'2026-01-30T23:30:03.6625591+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', N'{"TaskHeaderId":30,"TaskItemId":162}')
INSERT [dbo].[EntityChange] ([EntityChangeID], [Entity], [EntityField], [FieldType], [OldValue], [NewValue], [ChangedAt], [ChangedBy], [EntityKey]) VALUES (104, N'TaskItem', N'TaskItemStatus', N'TaskItemStatus', N'Ready', N'Completed', CAST(N'2026-01-30T23:30:03.6625591+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', N'{"TaskHeaderId":30,"TaskItemId":163}')
INSERT [dbo].[EntityChange] ([EntityChangeID], [Entity], [EntityField], [FieldType], [OldValue], [NewValue], [ChangedAt], [ChangedBy], [EntityKey]) VALUES (105, N'TaskItem', N'TaskItemStatus', N'TaskItemStatus', N'NotStarted', N'Ready', CAST(N'2026-01-30T23:30:03.6625591+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', N'{"TaskHeaderId":30,"TaskItemId":164}')
GO
SET IDENTITY_INSERT [dbo].[EntityChange] OFF
GO
SET IDENTITY_INSERT [dbo].[JsonSchemaTemplate] ON 

SET IDENTITY_INSERT [dbo].[JsonSchemaTemplate] OFF
GO
SET IDENTITY_INSERT [dbo].[Plant] ON 

INSERT [dbo].[Plant] ([PlantID], [CreatedAt], [Code], [CommonName], [LanguageEnum], [Active], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (19, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), N'MOU1', N'Moustier Plant', N'FR', 1, CAST(N'2026-02-01T19:41:24.5295462+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:41:24.5295462+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78')
SET IDENTITY_INSERT [dbo].[Plant] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskHeader] ON 

INSERT [dbo].[TaskHeader] ([TaskHeaderID], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (117, CAST(N'2026-02-01T19:43:10.0045064+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:43:10.0045064+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78')
INSERT [dbo].[TaskHeader] ([TaskHeaderID], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (118, CAST(N'2026-02-01T19:44:55.5962432+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:44:55.5962432+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78')
INSERT [dbo].[TaskHeader] ([TaskHeaderID], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (124, CAST(N'2026-02-01T19:51:53.6104803+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:51:53.6104803+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78')
SET IDENTITY_INSERT [dbo].[TaskHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskItems] ON 

INSERT [dbo].[TaskItems] ([TaskHeaderID], [TaskItemsID], [StartingTask], [EndingTask], [LinkedWorkArea], [TaskDataId], [TaskItemTypeId], [TaskStatus], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (117, 511, 1, 0, 21, NULL, NULL, 1, CAST(N'2026-02-01T19:43:10.0045064+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:43:10.0045064+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78')
INSERT [dbo].[TaskItems] ([TaskHeaderID], [TaskItemsID], [StartingTask], [EndingTask], [LinkedWorkArea], [TaskDataId], [TaskItemTypeId], [TaskStatus], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (118, 512, 1, 0, 21, NULL, NULL, 1, CAST(N'2026-02-01T19:44:55.5962432+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:44:55.5962432+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78')
INSERT [dbo].[TaskItems] ([TaskHeaderID], [TaskItemsID], [StartingTask], [EndingTask], [LinkedWorkArea], [TaskDataId], [TaskItemTypeId], [TaskStatus], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (124, 518, 1, 0, 24, NULL, NULL, 3, CAST(N'2026-02-01T19:51:53.6104803+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:52:20.7704826+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78')
SET IDENTITY_INSERT [dbo].[TaskItems] OFF
GO
INSERT [dbo].[TransportTask] ([TaskHeaderID], [TaskItemsID], [Support], [DestinationAreaId], [SourceAreaId], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (117, 511, N'LJ0520CO', 22, 21, NULL, NULL, NULL, NULL)
INSERT [dbo].[TransportTask] ([TaskHeaderID], [TaskItemsID], [Support], [DestinationAreaId], [SourceAreaId], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (118, 512, N'LJ0520CO', 23, 21, NULL, NULL, NULL, NULL)
INSERT [dbo].[TransportTask] ([TaskHeaderID], [TaskItemsID], [Support], [DestinationAreaId], [SourceAreaId], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (124, 518, N'PF0523', 21, 22, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[WorkArea] ON 

INSERT [dbo].[WorkArea] ([WorkAreaID], [Code], [CommonName], [PlantId], [WorkAreaTypeId], [Created], [CreatedBy], [LastModified], [LastModifiedBy], [Active]) VALUES (21, N'L21', N'L21', 19, 1, CAST(N'2026-02-01T19:41:53.3649246+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:41:53.3649246+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', 1)
INSERT [dbo].[WorkArea] ([WorkAreaID], [Code], [CommonName], [PlantId], [WorkAreaTypeId], [Created], [CreatedBy], [LastModified], [LastModifiedBy], [Active]) VALUES (22, N'L22', N'L22', 19, 1, CAST(N'2026-02-01T19:42:08.5908659+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:42:08.5908659+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', 1)
INSERT [dbo].[WorkArea] ([WorkAreaID], [Code], [CommonName], [PlantId], [WorkAreaTypeId], [Created], [CreatedBy], [LastModified], [LastModifiedBy], [Active]) VALUES (23, N'T24', N'T24', 19, 1, CAST(N'2026-02-01T19:42:23.6241818+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', CAST(N'2026-02-01T19:42:23.6241818+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78', 1)
SET IDENTITY_INSERT [dbo].[WorkArea] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkAreaType] ON 

INSERT [dbo].[WorkAreaType] ([Id], [Code], [Label], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (1, N'PROD', N'Production1', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, CAST(N'2026-01-30T23:32:45.3987993+00:00' AS DateTimeOffset), N'faaa8267-b1cf-40cb-a401-ddf6ace65c78')
SET IDENTITY_INSERT [dbo].[WorkAreaType] OFF
GO
ALTER TABLE [dbo].[Plant] ADD  CONSTRAINT [DF_Plant_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[WorkArea] ADD  CONSTRAINT [DF_WorkArea_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[EntityChange]  WITH CHECK ADD  CONSTRAINT [FK_EntityChange_AspNetUsers_ChangedBy] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[EntityChange] CHECK CONSTRAINT [FK_EntityChange_AspNetUsers_ChangedBy]
GO
ALTER TABLE [dbo].[LoadingTask]  WITH CHECK ADD  CONSTRAINT [FK_LoadingTask_TaskItems_TaskHeaderID_TaskItemsID] FOREIGN KEY([TaskHeaderID], [TaskItemsID])
REFERENCES [dbo].[TaskItems] ([TaskHeaderID], [TaskItemsID])
GO
ALTER TABLE [dbo].[LoadingTask] CHECK CONSTRAINT [FK_LoadingTask_TaskItems_TaskHeaderID_TaskItemsID]
GO
ALTER TABLE [dbo].[LoadingTask]  WITH CHECK ADD  CONSTRAINT [FK_LoadingTask_WorkArea_AreaForLoading] FOREIGN KEY([AreaForLoading])
REFERENCES [dbo].[WorkArea] ([WorkAreaID])
GO
ALTER TABLE [dbo].[LoadingTask] CHECK CONSTRAINT [FK_LoadingTask_WorkArea_AreaForLoading]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_WorkArea_WorkAreaId] FOREIGN KEY([WorkAreaId])
REFERENCES [dbo].[WorkArea] ([WorkAreaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_WorkArea_WorkAreaId]
GO
ALTER TABLE [dbo].[Lot]  WITH CHECK ADD  CONSTRAINT [FK_Lot_Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Lot] CHECK CONSTRAINT [FK_Lot_Product_ProductID]
GO
ALTER TABLE [dbo].[Lot]  WITH CHECK ADD  CONSTRAINT [FK_Lot_Storage_LocationID_StorageID] FOREIGN KEY([LocationID], [StorageID])
REFERENCES [dbo].[Storage] ([LocationID], [StorageID])
GO
ALTER TABLE [dbo].[Lot] CHECK CONSTRAINT [FK_Lot_Storage_LocationID_StorageID]
GO
ALTER TABLE [dbo].[PlantIDentity]  WITH CHECK ADD  CONSTRAINT [FK_PlantIDentity_Plant_PlantID] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plant] ([PlantID])
GO
ALTER TABLE [dbo].[PlantIDentity] CHECK CONSTRAINT [FK_PlantIDentity_Plant_PlantID]
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD  CONSTRAINT [FK_Storage_Location_LocationID] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Location] ([LocationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Storage] CHECK CONSTRAINT [FK_Storage_Location_LocationID]
GO
ALTER TABLE [dbo].[TaskData]  WITH CHECK ADD  CONSTRAINT [FK_TaskData_JsonSchemaTemplate_JsonSchemaTemplateId] FOREIGN KEY([JsonSchemaTemplateId])
REFERENCES [dbo].[JsonSchemaTemplate] ([JsonSchemaTemplateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskData] CHECK CONSTRAINT [FK_TaskData_JsonSchemaTemplate_JsonSchemaTemplateId]
GO
ALTER TABLE [dbo].[TaskItemDependency]  WITH CHECK ADD  CONSTRAINT [FK_TaskItemDependency_TaskItems_TaskHeaderID_DependOn_TaskItemsID_DependOn] FOREIGN KEY([TaskHeaderID_DependOn], [TaskItemsID_DependOn])
REFERENCES [dbo].[TaskItems] ([TaskHeaderID], [TaskItemsID])
GO
ALTER TABLE [dbo].[TaskItemDependency] CHECK CONSTRAINT [FK_TaskItemDependency_TaskItems_TaskHeaderID_DependOn_TaskItemsID_DependOn]
GO
ALTER TABLE [dbo].[TaskItemDependency]  WITH CHECK ADD  CONSTRAINT [FK_TaskItemDependency_TaskItems_TaskHeaderID_TaskItemsID] FOREIGN KEY([TaskHeaderID], [TaskItemsID])
REFERENCES [dbo].[TaskItems] ([TaskHeaderID], [TaskItemsID])
GO
ALTER TABLE [dbo].[TaskItemDependency] CHECK CONSTRAINT [FK_TaskItemDependency_TaskItems_TaskHeaderID_TaskItemsID]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_TaskData_TaskDataId] FOREIGN KEY([TaskDataId])
REFERENCES [dbo].[TaskData] ([TaskDataID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_TaskData_TaskDataId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_TaskHeader_TaskHeaderID] FOREIGN KEY([TaskHeaderID])
REFERENCES [dbo].[TaskHeader] ([TaskHeaderID])
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_TaskHeader_TaskHeaderID]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_TaskItemType_TaskItemTypeId] FOREIGN KEY([TaskItemTypeId])
REFERENCES [dbo].[TaskItemType] ([TaskItemType_ID])
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_TaskItemType_TaskItemTypeId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_TaskItems_WorkArea_LinkedWorkArea] FOREIGN KEY([LinkedWorkArea])
REFERENCES [dbo].[WorkArea] ([WorkAreaID])
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_TaskItems_WorkArea_LinkedWorkArea]
GO
ALTER TABLE [dbo].[TaskItemType]  WITH CHECK ADD  CONSTRAINT [FK_TaskItemType_JsonSchemaTemplate_JsonSchemaTemplateID] FOREIGN KEY([JsonSchemaTemplateID])
REFERENCES [dbo].[JsonSchemaTemplate] ([JsonSchemaTemplateID])
GO
ALTER TABLE [dbo].[TaskItemType] CHECK CONSTRAINT [FK_TaskItemType_JsonSchemaTemplate_JsonSchemaTemplateID]
GO
ALTER TABLE [dbo].[TransportTask]  WITH CHECK ADD  CONSTRAINT [FK_TransportTask_TaskItems_TaskHeaderID_TaskItemsID] FOREIGN KEY([TaskHeaderID], [TaskItemsID])
REFERENCES [dbo].[TaskItems] ([TaskHeaderID], [TaskItemsID])
GO
ALTER TABLE [dbo].[TransportTask] CHECK CONSTRAINT [FK_TransportTask_TaskItems_TaskHeaderID_TaskItemsID]
GO
ALTER TABLE [dbo].[TransportTask]  WITH CHECK ADD  CONSTRAINT [FK_TransportTask_WorkArea_DestinationArea] FOREIGN KEY([DestinationAreaId])
REFERENCES [dbo].[WorkArea] ([WorkAreaID])
GO
ALTER TABLE [dbo].[TransportTask] CHECK CONSTRAINT [FK_TransportTask_WorkArea_DestinationArea]
GO
ALTER TABLE [dbo].[TransportTask]  WITH CHECK ADD  CONSTRAINT [FK_TransportTask_WorkArea_SourceArea] FOREIGN KEY([SourceAreaId])
REFERENCES [dbo].[WorkArea] ([WorkAreaID])
GO
ALTER TABLE [dbo].[TransportTask] CHECK CONSTRAINT [FK_TransportTask_WorkArea_SourceArea]
GO
ALTER TABLE [dbo].[WorkArea]  WITH CHECK ADD  CONSTRAINT [FK_WorkArea_Plant_PlantId] FOREIGN KEY([PlantId])
REFERENCES [dbo].[Plant] ([PlantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkArea] CHECK CONSTRAINT [FK_WorkArea_Plant_PlantId]
GO
ALTER TABLE [dbo].[WorkArea]  WITH CHECK ADD  CONSTRAINT [FK_WorkArea_WorkAreaType_WorkAreaTypeId] FOREIGN KEY([WorkAreaTypeId])
REFERENCES [dbo].[WorkAreaType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkArea] CHECK CONSTRAINT [FK_WorkArea_WorkAreaType_WorkAreaTypeId]
GO
ALTER TABLE [dbo].[JsonSchemaTemplate]  WITH CHECK ADD  CONSTRAINT [CK_JsonSchemaTemplate_ValidJson] CHECK  ((isjson([JsonSchema])=(1)))
GO
ALTER TABLE [dbo].[JsonSchemaTemplate] CHECK CONSTRAINT [CK_JsonSchemaTemplate_ValidJson]
GO
ALTER TABLE [dbo].[TaskData]  WITH CHECK ADD  CONSTRAINT [CK_JsonTaskData_ValidJson] CHECK  ((isjson([JsonData])=(1)))
GO
ALTER TABLE [dbo].[TaskData] CHECK CONSTRAINT [CK_JsonTaskData_ValidJson]
GO
